<%- include("../partials/header.ejs") %>
<link rel="stylesheet" href="../public/bootstrap.min.css">
	<div class="container p-4">
		<div class="card p-3">
			<div class="card-header" >
				<div class="card-title">
					<div class="mt-3" align="center">
						<p style="font-size:30px;">Admin Dashboard </p>
					</div>
				</div>
				<a class="btn btn-primary float-right m-2" href="/medapp-attendance-admin/logout">Logout</a>
				<a class="btn btn-primary float-right m-2" href="/medapp-attendance-admin/events">Add event</a>
			</div>
			<form action="/medapp-attendance-admin/dashboard" method="get" novalidate class="mt-5">
		        <div class="form-group">
		          <label for="option" style="font-size:24px;">View By</label>
		          <select class="form-control" name="option" value="<%= viewBy %>" id="viewBy" required>
		            <option value="" <% if(!viewBy) { %>selected<% } %> disabled>Choose</option>
		            <option value="month" <% if(viewBy === "month") { %>selected <% } %>>Month</option>
		            <option value="year" <% if(viewBy === "year") { %>selected <% } %>>Year</option>
		          </select>
		        </div>
		        <div class="form-group hide" id="month" style="display: none">
		          <label for="month" style="font-size:24px;">Month</label>
		          <select class="form-control clear-select" name="month" required>
		            <option value="" <% if(!month) { %>selected<% } %> disabled>Choose</option>
		            <% let i = 1 %>
		            <% monthArray.forEach((m) => {%>
		              <option value="<%= i %>" <% if(month === i) { %>selected <% } %>><%= m %></option>
		            <% ++i }) %>
		          </select>
		        </div>
		        <div class="form-group hide" id="year" style="display: none">
		          <label for="year" style="font-size:24px;">Year</label>
		          <select class="form-control clear-select" name="year" required>
		            <option value="" <% if(!year) { %>selected<% } %> disabled>Choose</option>
		            <% yearArray.forEach((y) => { %>
		              <option value="<%= y %>" <% if(year === y) { %>selected <% } %>><%= y %></option>
		            <% }) %>
		          </select>
		        </div>
		        <button type="submit" class="btn btn-primary hide" id="search" style="display: none">Search</button>
      		</form>
		<% if(events.length > 0 && viewBy) { %>
		    <div class="card m-4">
		       <div class="card-header">
		          <% if(viewBy === "month") { %>
		            Events of <%= monthName %> <%= year %>
		          <% } else if(viewBy === "year") { %>
		            Events of year <%= year %>
		          <% } %>
					 </div>
		       <div class="card-body p-1">
						<div class="table-responsive">
		          <table class="table table-hover text-center">
		            <thead>
		              	<tr class="table-primary">
							<th scope="col">Name</th>
							<th scope="col">Date</th>
							<th scope="col">Timing <small>(24h Format)</small></th>
							<th scope="col">Detail</th>
							<th scope="col">Location</th>
							<th scope="col">Attendance</th>
							<th scope="col">Delete</th>
						</tr>
		            </thead>
		            <tbody>
						<% events.forEach((event) => { %>
							<tr>
								<td><%= event.name %></td>
								<td><%= event.date.toDateString() %></td>
								<td><%= event.stime %>-<%= event.etime %></td>
								<td><%= event.detail %></td>
								<td><%= event.location.address %></td>
								<td><a href="/medapp-attendance-admin/viewAttendance?eid=<%= event._id %>" class="btn btn-primary">View attendance</a></td>
								<td><a href="/medapp-attendance-admin/events?eid=<%= event._id %>" class="btn btn-primary">Delete Event</a></td>
							</tr>
						<% }) %>
		            </tbody>
		          </table>
					</div>
		        </div>
		      </div>
		    <% } else if(!viewBy){ %>
		      <div class="jumbotron text-muted text-center m-2">
		        Select an option
		      </div>
		    <% } else { %>
		      <div class="jumbotron text-muted text-center m-2">
		        No Events for this month/year.
		      </div>
		    <% } %>
		</div>
<script>
    const $viewBy = document.querySelector("#viewBy")
    const $month = document.querySelector("#month")
    const $year = document.querySelector("#year")
    const $search = document.querySelector("#search")
    const $hide_all = document.querySelectorAll(".hide")
    const $clear_all = document.querySelectorAll(".clear-select")
    const preViewBy = <% if(!viewBy) { %>null<% }else { %>"<%= viewBy %>"<% } %>

    function hide_all_selects(elements) {
      for ( const element of elements) {
        element.style.display = "none"
      }
    }

    function clear_all_selects (selects) {
      for (const select of selects) {
        for(const option of select.options) {
          option.selected = false
        }
        select.options[0].selected = true
      }
    }

    function hide_specific_select(viewBy) {
      if(viewBy === "month") {
        hide_all_selects($hide_all)
        $month.style.display = "block"
        $year.style.display = "block"
        $search.style.display = "block"
      } else if(viewBy === "year") {
        hide_all_selects($hide_all)
        $year.style.display = "block"
        $search.style.display = "block"
      }
    }

    if($viewBy.value == preViewBy) {
      hide_specific_select($viewBy.value)
    }

    $viewBy.addEventListener("change", (e) => {
      hide_specific_select(e.target.value)
      clear_all_selects($clear_all)
    })
</script>
<%- include("../partials/footer.ejs") %>
